*.iml
.gradle
/local.properties
/keystore.properties
/.idea
.DS_Store
/build
/domain/build
/data/build
/feature/feature-chat/build
/feature/feature-post/build
/presentation/build
/installed/build
/captures
.externalNativeBuild
*.class
.class
/.idea/misc.xml
